Source: mollusc-themes
Section: misc
Priority: optional
Maintainer: Dragon8oy <stuart.a.hayhurst@gmail.com>
Package: mollusc-themes
Version: 1.0
Architecture: all
Depends: coreutils, curl, findutils, git, grep, libglib2.0-bin, libgtk-3-dev, meson (>= 0.51), sassc, sed, sudo, tar
Homepage: <https://github.com/Dragon8oy/mollusc-themes>
Description: A collection of themes
 A collection of themes, including a GRUB Theme, a Plymouth Theme, a GDM Theme, a full GNOME Theme fonts, wallpapers and a terminal profile
